/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11/10/2024, 12:54:32
    Author     : Guttojss
*/

/* General styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #303030;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Form container styling */
form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Text output styles */
h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}